<div class="container py-4">
    <!-- Header -->
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="fw-bold">Movimientos</h2>
       
    </div>



    <div class="row g-3">
        <div class="col-6">
            <label for="identification" class="visually-hidden">Ingrese su consulta</label>
            <input class="form-control" id="accountnumber" (input)="onSearch($event)"
                placeholder="Ingrese su consulta" />
        </div>
        <div class="col-auto">
            <button class="btn btn-warning text-white" data-bs-toggle="modal" data-bs-target="#createMovementModal">
                Nuevo
            </button>

        </div>
    </div>

    <app-table [columns]="tableColumns" 
               [data]="tableData"
               (deleteRow)="deleteRow($event)" 
               (openModal)="openModal($event)">        
    </app-table>


   
</div>

<app-modal 
  [title]="'Actualizar Movimiento'" 
  [isOpen]="isModalOpen" 
  [fields]="customFields"
  [data]="selectedRow" 
  (closeModal)="closeModal()"
  (openModal)="openModal($event)"
  (submitForm)="onModalSubmit($event)"

  >
</app-modal>

<app-modal 
[title]="'Estas Seguro de Eliminar el Cliente'" 
[isOpen]="isModalOpenAlert" 
(closeModal)="closeModalAlert()"
[fields]="customFields"
[data]="selectedRow" 
(openModalAlert)="deleteRow($event)"
(submitForm)="onModalSubmitAlert($event)">
</app-modal>



<!-- Create Client Modal -->
<div class="modal fade" id="createMovementModal" #createMovementModal tabindex="-1" aria-labelledby="createMovmentModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- You can use a form here; adjust the formControlNames as needed -->
            <form [formGroup]="movementForm" (ngSubmit)="onSubmit()">
                <div class="modal-header">
                    <h5 class="modal-title" id="createMovementModalLabel">Crear Nuevo Movimiento</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="mb-3">
                        <label for="numberAccount" class="form-label"># Cuenta</label>
                        <input type="text" id="numberAccount" class="form-control" formControlName="numberAccount"
                            placeholder="Ingrese la cuenta">
                    </div>

                    <div class="mb-3">
                        <label for="typeMovement" class="form-label">Tipo de Movimiento</label>
                        <select id="typeMovement" class="form-select" formControlName="typeMovement">
                            <option value="" selected>Seleccione...</option>
                            <option value="DEPOSIT">Depósito</option>
                            <option value="WITHDRAWAL">Retiro</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="movementAmount" class="form-label">Cantidad</label>
                        <input type="text" id="movementAmount" class="form-control" formControlName="movementAmount"
                            placeholder="Ingrese la cantidad">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Cerrar
                    </button>
                    <button type="submit" class="btn btn-primary" [disabled]="movementForm.invalid || loading">
                        {{ loading ? 'Creando...' : 'Realizar Movimiento' }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>