<div class="container py-4">
  <!-- Header -->
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="fw-bold">Cuentas</h2>
  </div>
  <!-- Search Input -->
  <div class="row g-3">
    <div class="col-6">
      <label for="identification" class="visually-hidden"
        >Ingrese su consulta</label
      >
      <input
        class="form-control"
        id="accountnumber"
        (input)="onSearch($event)"
        placeholder="Ingrese su consulta"
      />
    </div>
    <div class="col-auto">
      <button
        class="btn btn-warning text-white"
        data-bs-toggle="modal"
        data-bs-target="#createClientModal"
      >
        Nuevo
      </button>
    </div>
  </div>

  <app-table
    [columns]="tableColumns"
    [data]="tableData"
    (closeModal)="closeModal()"
    (openModal)="openModal($event)"
  ></app-table>

  <app-modal
    [title]="'Actualizar Cuenta'"
    [isOpen]="isModalOpen"
    [fields]="customFields"
    [data]="selectedRow"
    (closeModal)="closeModal()"
    (openModalAlert)="openModal($event)"
    (submitForm)="onModalSubmit($event)"
  >
  </app-modal>

 
</div>

<!-- Create Client Modal -->
